
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- SEO Meta Tags -->
    <meta name="description" content="Tivo is a HTML landing page template built with Bootstrap to help you crate engaging presentations for SaaS apps and convert visitors into users.">
    <meta name="author" content="Inovatik">
    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
	<meta property="og:site_name" content="" /> <!-- website name -->
	<meta property="og:site" content="" /> <!-- website link -->
	<meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="" /> <!-- where do you want your post to link to -->
	<meta property="og:type" content="article" />
    <!-- Website Title -->
    <title>CoopWED</title>
    <!-- Styles -->
    <link href="/css/all.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/css/mystyle.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
	<!-- Favicon  -->
    <link rel="icon" href="/images/logo.jpg">
</head>

<body >
    
  <!-- Preloader -->
<div class="spinner-wrapper">
      <div class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
      </div>
</div>
  <!-- end of preloader -->
<div class="container bootdey">
<div class="content-page">
    <div class="profile-banner" style="background:url(https://bootdey.com/img/Content/bg1.jpg);">
        <div class="col-sm-3 avatar-container">
            <%if(user.img){%>
                <img src='/images/<%=user.img%>' class="img-circle profile-avatar" alt="User avatar">
            <%}else{%>
                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="img-circle profile-avatar" alt="User avatar">
            <%}%>
        </div>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-sm-3" id="forImgProfile">
                <!-- Begin user profile -->
                <div class="text-center user-profile-2" style="margin-top:120px">
                    <ul class="list-group">
                      <li class="list-group-item">
                        <h4><b class="text-capitalize"><%=user.username%></b></h4>
                        <h5>Administrator</h5>
                      </li>
                      <% if(user._id == correntUser.user_id){%>
                      <li class="list-group-item ">
                        <span class="badge bg-info"><%=text_posts.length%></span>
                        Text Notes
                      </li>
                      <li class="list-group-item">
                        <span class="badge bg-info"><%=voice_posts.length%></span>
                        Voice Notes
                      </li>
                      <li class="list-group-item">
                        <%if(user._id == correntUser.user_id && user.day == new Date().getDay() ){%>
                          <button class="btn btn-large btn-success"  >
                            <a class="text-decoration-none text-white" href="/week-notes/<%=user._id%>">weekly notes</a>
                          </button>
                        <%}else{%>
                          <button class="btn btn-large btn-success" disabled >
                            <a class="text-decoration-none text-white" href="/week-notes/<%=user._id%>">weekly notes</a>
                          </button>
                        <%}%>

                      </li>
                      <%}else{%>
                        <li class="list-group-item ">
                          <span class="badge bg-info"><%=text_posts.filter(e=>e.show=='public').length%></span>
                          Text Notes
                        </li>
                        <li class="list-group-item">
                          <span class="badge bg-info"><%=voice_posts.filter(e=>e.show=='public').length%></span>
                          Voice Notes
                        </li>
                      <%}%>
                    </ul>
                    <% if(user._id == correntUser.user_id){%>
                      <!-- User button -->
                      <div class="user-button">
                        <div class="row">
                            <div class="col-lg-6">
                              <form action="/logout" method="post">
                                <button href="/logout" type="submit" class="btn btn-danger btn-sm btn-block">LOGOUT</button></form>
                            </div>
                            <div class="col-lg-6">
                                <a href="/edit-profile/<%=correntUser.user_id%>" type="button" class="btn btn-warning btn-sm btn-block"><i class="fas fa-cogs"></i>Edit Profile</a>
                            </div>
                        </div>
                    </div><!-- End div .user-button -->
                    <%} %>
                    
                </div><!-- End div .box-info -->
                <!-- Begin user profile -->
            </div><!-- End div .col-sm-4 -->
            
            <div class="col-sm-9 mb-5">
              <% if(user._id == correntUser.user_id){%>
                <div class="widget widget-tabbed">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <!-- Tab timeline -->
                        <div class="tab-pane animated active fadeInRight" id="my-timeline">
                            <div class="user-profile-content mb-1">
                                <!-- Begin timeline -->
                                <div class="the-timeline">
                                  <% postErr.forEach((message)=>{ %>
                                    <div class="alert alert-danger text-center" > <%= message %> </div>
                                    <% }) %>
                                    <% if(user._id == correntUser.user_id){%>
                                    <form action="/post" method="POST" role="form" class="post-to-timeline">
                                        <textarea name="post" class="form-control" style="height: 70px;margin-bottom:10px;" placeholder="Whats on your mind..."></textarea>
                                        <div class="row">
                                        <div class="col-6">
                                            <a class="bg-white btn btn-sm btn-default cursor-pointer"><i class="fa-solid fa-microphone fa-3x"></i></a>
                                            <a class="bg-white btn btn-sm btn-default cursor-pointer"><i class="fas fa-file-upload fa-3x"></i></a>
                                        </div>
                                        <div class=" col-6 text-end d-flex flex-column justify-content-center d-sm-block"><button type="submit" class="btn btn-primary">Post</button></div>
                                        </div>
                                    </form>
                                  <%}%>
                                    <br><br>
                                </div><!-- End div .the-timeline -->
                                <!-- End timeline -->
                            </div><!-- End div .user-profile-content -->
                        </div><!-- End div .tab-pane -->
                        <!-- End Tab timeline -->
                        
                        <!-- Tab about -->
                        <!-- End Tab about -->
                        
                        
                        <!-- Tab user activities -->
                        
                        <!-- End Tab user activities -->
                        
                        <!-- Tab user messages -->
                        
                        
                        <!-- End Tab user messages -->
                    </div><!-- End div .tab-content -->
                </div><!-- End div .box-info -->
                <%}%>
                <div class="vider d-flex align-items-center">
                  <div class="first-line me-2 bg-info w-50 "></div>
                  <h2>Notes</h2>
                  <div class="first-line ms-2 bg-info w-50"></div>
                </div>


                <% if(user._id == correntUser.user_id){%>
                  <div class=" posts_container row m-2">
                    <% posts.map((post)=>{%>
                      <div class="p-2 col col-sm-4 " >
                            <div class="post fs-6 d-flex bg-white p-2 justify-content-between 
                            rounded">
                              <div class=" w-50 text_container">
                                <span class="text-muted fs-6"> on <%= post.date.getDate() %>/<%= post.date.getMonth() + 1 %>/<%= post.date.getFullYear() %> </span>
                                <h5><%=user.username%></h5>
                                <th></th>
                              </div>
                              
                                <div class="w-50 icon d-flex flex-column align-items-end">
                                  <% if(user._id == correntUser.user_id){%>
                                  <a class="cursor-pointer" href="/edit-post/<%=post._id%>"><i class="far fa-edit "></i></a>
                                  <form action="/delet-post/<%=post._id%>" method="post">
                                    <button class="btn p-0 pe-1" type="submit"><i class="fa-solid fa-xmark mt-2 cursor-pointer"></i></button>
                                  </form>
                                  <%}%>
                                </div>
                              
                              <div class="postss w-100">
                                <%if(post.type=='text'){%>
                                  <p class="d-inline-block text-truncate" style="max-width: 100%;"><%=post.post%></p>
                                  <%if(post.post.length >= 50){%>
                                    <a href="/single-post/<%=post._id%>" class="cursor-pointer">read more</a>
                                  <%}%>
                                <%}else if(post.type=='audio'){%>
                                  <audio controls >
                                    <source src="/audio/<%=post.post%>" type="audio/mpeg">
                                  </audio>
                                <%}else{%>
                                  <a href="/download/<%=post.post%>"><i class="fas fa-download"></i></a>
                                <%}%>

                              </div>
                            </div>
                          </div>
                    <%})%>
                  </div>



                <%}else{%>

                  <div class=" posts_container row m-2">
                    
                    <% posts.filter(e=>e.show=='public').map((post)=>{%>
                      <div class="p-2 col-sm-4" >
                            <div class="post fs-6 d-flex bg-white p-2 justify-content-between 
                            rounded">
                              <div class=" w-50 text_container">
                                <span class="text-muted fs-6"> on <%= post.date.getDate() %>/<%= post.date.getMonth() + 1 %>/<%= post.date.getFullYear() %> </span>
                                <h5><%=user.username%></h5>
                                <th></th>
                              </div>
                              <div class="w-50 icon d-flex flex-column align-items-end">
                                <% if(user._id == correntUser.user_id){%>
                                <a class="cursor-pointer" href="/edit-post/<%=post._id%>"><i class="far fa-edit "></i></a>
                                <form action="/delet-post/<%=post._id%>" method="post">
                                  <button class="btn p-0 pe-1" type="submit"><i class="fa-solid fa-xmark mt-2 cursor-pointer"></i></button>
                                </form>
                                <%}%>
                              </div>
                              <div class="postss w-100">
                                <%if(post.type=='text'){%>
                                  <p class="d-inline-block text-truncate" style="max-width: 100%;"><%=post.post%></p>
                                  <%if(post.post.length >= 50){%>
                                    <a href="/single-post/<%=post._id%>" class="cursor-pointer">read more</a>
                                  <%}%>
                                <%}else if(post.type=='audio'){%>
                                  <audio controls >
                                    <source src="/audio/<%=post.post%>" type="audio/mpeg">
                                  </audio>
                                <%}else%>
                                <a href="/download/<%=post.post%>"><i class="fas fa-download"></i></a>
                                }
                              </div>
                            </div>
                            </div>
                    <%})%>
                    
                  </div>


                <%}%>
                
                
                

            </div>
        </div>
    </div>	
</div>

<div class="voice-container">
  <a href='/profile/<%=correntUser.user_id%>' id="fa-times"><i class="cursor-pointer fas fa-times fa-2x"></i></a>
  <div class="container">
    <h1 class="text-center">Record Your Voice</h1>
    <div class="record-button-container text-center mt-5">
      <button class="bg-transparent border btn record-button rounded-circle shadow-sm text-center" id="recordButton">
        <img src="/images/microphone.png" alt="Record" class="img-fluid" />
      </button>
    </div>
  </div>
  <div class="recorded-audio-container mt-5 d-none flex-column justify-content-center align-items-center" id="recordedAudioContainer">
    <div class="actions mt-3">
      <button class="btn btn-success rounded-pill" id="saveButton">Save</button>
      <button class="btn btn-danger rounded-pill" id="discardButton">Discard</button>
    </div>
  </div>
</div>

<div class="upload-file_container">
  <i id="file_close" class="cursor-pointer fas fa-times fa-2x"></i>
  <form action="/upload-files" method="POST" enctype="multipart/form-data">
    <input type="file" name="files">
    <button type="submit" class="btn btn-info">Upload</button>
  </form>
</div>



</div>

<footer class="bg-dark border-top text-center small text-muted py-3">
  <p class="m-0">Copyright &copy; 2022 <a href="/" class="text-muted">CoopWED.com</a>. All rights reserved.</p>
</footer>

<%-include('includes/footer')%>